<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sqlite</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Images/sqlite-icon-small.png</string>
				<string>Images/sqlite-icon-big.png</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-sqlite3</string>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Puratap SQLite Database</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.puratap.sqlite3.database</string>
			</array>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Images/Puratap_logo_72.png</string>
		<string>Images/Puratap_logo_50.png</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.4k</string>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>net.gebe</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.database</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Puratap SQLite Database</string>
			<key>UTTypeIconFile</key>
			<array>
				<string>Images/sqlite-icon-small.png</string>
				<string>Images/sqlite-icon-big.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.puratap.sqlite3.database</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.puratap.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sqlite</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-sqlite3</string>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Puratap</string>
</dict>
</plist>
